<!DOCTYPE html>
<html>

<head>
    <title>Traveling Buddies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      
</head>

<body>
    <div class='container-fluid text-center'>
    <a href="/travels" >Home</a> | <a href="/logout" class='ml-3' >Logout</a>
    
    <h3>Add a Trip</h3>
    {% if messages %} {% for message in messages %}
    <p class="alert alert-danger mt-3">{{ message }}</p>
    {% endfor %} 
    {% endif %}
    <div class="col-4 text-center">
        <form action="add_trip" method="post">
            {% csrf_token %}
                <label>Destination: </label>
                <input type="text" class="form-control " name="destination" />
                   
                <label>Travel Date From: </label>
                <input type="date" class="form-control" name="start_trip" />
                 
                <label>Travel Date To: </label>
                <input type="date" class="form-control" name="end_trip" />     
           
                <label>Plan: </label>
                <textarea name="plan" class="form-control"></textarea>
           
                <input type="submit" class="form-control" value="Add">
          
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>

</html>